= form_tag create_location_path, :method=>'post' do
  Location Name
  = text_field_tag "locationName"
  = submit_tag "Create", :class => "btn"

=link_to "scrape",lastfmscrape_location_path, :class => "btn"